{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="alert alert-danger mt-2" role="alert">
        Vous ne pouvez acceder a ce drone : car il n'existe pas !
    </div>

{% endblock %}