<!DOCTYPE html>
<html>
    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="images/favicon.png" type="">
        
        <title>
            {% block title %}Daju{% endblock %}
        </title>

        {% block stylesheets %}
            <!-- bootstrap core css -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />
            <!-- font awesome style -->
            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
